html * {
    font-size: 15;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 20px;
    width: 400px;
    height: 600px;
}

.screen-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 25px;
    background-color: rgb(236, 236, 236);
    border-top: 3px;
    border-top-style: solid;
    border-top-color: black;
    border-right: 3px;
    border-right-style: solid;
    border-right-color: black;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: black;
    font-size: 50px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.function-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: #7D9D9C;
    opacity: 0.9;
    transition: 0.25s;

}

.clear-button:hover,
.delete-button:hover,
.btn:hover,
.btn.op.btn:hover,
#equals:hover,
#dot-btn:hover {
    opacity: 1;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: #7D9D9C;
    opacity: 0.9;
    transition: 0.25s;
}

.buttons {
    height: 450px;
    display: grid;
    background-color: black;
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    background-color: #F0EBE3;
    opacity: 0.9;
    transition: 0.25s;
}

.btn.op{
    background-color: #E4DCCF;
    opacity: 0.9;
    transition: 0.25s;
}

#equals, #dot-btn {
    background-color: #E4DCCF;
    opacity: 0.9;
    transition: 0.25s;
}

