body {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 20px;
    width: 400px;
    height: 600px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.screen-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-right: 25px;
}

.function-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.clear-button:active {
    background-color: brown;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:active {
    background-color: brown;
}

.buttons {
    height: 450px;
    display: grid;
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.row-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn:active {
    background-color: brown;
}

